/* styles.css */

body {
    font-family: 'Questrial', sans-serif;
}

header {
    background-color: #3e7041; /* Desired background color */
    font-family: 'Questrial', sans-serif;
    background-opacity: 0.75;
    backdrop-blur: 10px;
    border-radius: 1rem;
}

#met1, #guest, #library {
    position: relative;
    text-align: center;
    color: white;
}

.sponsors {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    padding: 20px;
}

.image-container {
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    opacity: 0.25;
}

ul {
    width: 100%;
    height: auto;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.containero {
    transition: transform 0.3s ease-in-out;
}

.containero:hover {
    transform: scale(1.1);
}

.title {
    font-family: 'Archivo Medium', sans-serif;
}

.pages {
    transition: transform 0.3s ease-in-out;
}

.pages:hover {
    transform: scale(1.1);
    color: #3e7041;
}

footer {
    background-color: #2925257a;
    padding: 100px;
}

.contact-icons {
    background-color: rgba(0, 0, 0, 0.75); /* Darker background */
    border-radius: 10px;
    padding: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
    width: fit-content;
}

.contact-icons a {
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

.contact-icons a:hover {
    transform: scale(1.15);
}

.contact-icons img {
    width: 125px;
    height: 60px;
    margin: 0 10px;
}

.gmail-icon-background {
    background-color: rgba(0, 0, 0, 0.75); /* Darker background */
    border-radius: 10px;
    padding: 10px; /* Add padding if necessary */
    display: inline-block; /* Ensures the div wraps around the image */
}
